/* †††††††††††††††††††††††††††††††††††††††††
   1. RESET & BASE
   ††††††††††††††††††††††††††††††††††††††††† */

body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

   /* †††††††††††††††††††††††††††††††††††††††††
   2. HEADER SECTION
   ††††††††††††††††††††††††††††††††††††††††† */

header{
    display: flex;
}

h1{
    font-size: 50px;
    font-weight: bold;
}