/* †††††††††††††††††††††††††††††††††††††††††
   1. RESET & BASE
   ††††††††††††††††††††††††††††††††††††††††† */

*{
    outline: 2px solid red;
}


/* †††††††††††††††††††††††††††††††††††††††††
   2. HEADER SECTION
   ††††††††††††††††††††††††††††††††††††††††† */



/* †††††††††††††††††††††††††††††††††††††††††
   3. MAIN SECTION
   ††††††††††††††††††††††††††††††††††††††††† */



/* †††††††††††††††††††††††††††††††††††††††††
   4. QUOTE SECTION
   ††††††††††††††††††††††††††††††††††††††††† */



/* †††††††††††††††††††††††††††††††††††††††††
   5. BUTTON SECTION
   ††††††††††††††††††††††††††††††††††††††††† */



/* †††††††††††††††††††††††††††††††††††††††††
   6. FOOTER SECTION
   ††††††††††††††††††††††††††††††††††††††††† */

footer{
    width: 100%;
    display: flex;
    color: white;
    padding-top: 50px;
    text-align: center;
    padding: 20px 15px;
    align-items: center;
    background-color: #1f2937;
    justify-content: space-between;
}