/* †††††††††††††††††††††††††††††††††††††††††
   1. RESET & BASE
   ††††††††††††††††††††††††††††††††††††††††† */

body{
   display: flex;
   margin-left: 0px;
   margin-top: -5px;
   align-content: center;
   flex-direction: column;
   justify-content: space-between;
   font-family: Poppins, sans-serif;
}


/* †††††††††††††††††††††††††††††††††††††††††
   2. HEADER & HERO SECTION
   ††††††††††††††††††††††††††††††††††††††††† */

header{
   display: flex;
}

div h1{
   color: white;
   font-size: 50px;
   font-weight: bold;
}

nav{
   width: 100%;
   display: flex;
   padding: 20px -15px;
   align-items: center;
   padding-bottom: 50px;
   background-color: #1f2937;
   justify-content: space-between;
}

.navbar {
   width: 100%;
   display: flex;                 
   justify-content: space-between;
   align-items: center;           
   padding: 20px -20px;            
   background-color: #1F2937;    
}

.nav-links {
   list-style: none;     
   display: flex;        
   gap: 20px;           
   margin: 0;            
   padding: 0;           
}

.nav-links a {
  text-decoration: none; 
  color: white;          
  font-weight: bold;
}


ul{
   color: white;
}

ul p{
   gap: 14px;
   display: inline-block;
}

.logo{
   color: white;
   font-size: 30px;
   font-weight: bold;
   margin-left: 215px;
}

.hero-content{
   width: 100%;
   background-color: #1F2937;  
}

.hero-text{
   text-align: justify;
   margin-top: 80px;
   margin-left: 220px;
   color: white;
   margin-bottom: -40px;
}

.hero-text h3{
   font-weight: bold;
   font-size: 40px;
}

.hero-image{
   float: right;
   margin-right: 280px;
   margin-bottom: 60px;
   margin-top: -140px;
}

button{
   width: 160px;
   height: 40px;
   border-radius: 10px;
   background-color: #3882F6;
   color: white;
}
/* †††††††††††††††††††††††††††††††††††††††††
   3. MAIN SECTION
   ††††††††††††††††††††††††††††††††††††††††† */

div .title{
   color: black;
   text-align: center;
   justify-content: space-between;
}

.project-card{
   width: 140px;
   height: 100px;
   padding: 20px;
   border: 3px solid #3882F6;
   border-radius: 10px;
   background-color: whitesmoke;
   color: black;
   text-align: left;
}

.margem{
   gap: 25px;
   display: flex;
   margin-bottom: 20px;
   justify-content: center;
   border: 2px solid red;
}

.recipes{
   text-align: center;
   align-items: center;
}

/* †††††††††††††††††††††††††††††††††††††††††
   4. QUOTE SECTION
   ††††††††††††††††††††††††††††††††††††††††† */

.section{
   width: 100%;
   height: 20vh;
   display: flex;
   align-self: center;
   justify-content: center;
}

h2{
   display: flex;
   margin-left: 10px;
   margin-right: 10px;
   text-align: center;
   align-items: center;
   justify-content: center;
}

.quoter{

   font-size: 10px;
   background-color: #E5E7EB;
}

/* †††††††††††††††††††††††††††††††††††††††††
   5. BUTTON SECTION
   ††††††††††††††††††††††††††††††††††††††††† */

.cta-section{
   width: 100%;
   height: 20vh;
   display: flex;
   align-self: center;
   justify-content: center;
}

.cta-button{
   display: flex;
   align-items: center;
   width: 160px;
   height: 40px;
   border-radius: 10px;
   background-color: #3882F6;
   color: white;
   justify-content: center;
   margin-top: 40px;
}
/* †††††††††††††††††††††††††††††††††††††††††
   6. FOOTER SECTION
   ††††††††††††††††††††††††††††††††††††††††† */

footer{
   width: 100%;
   display: flex;
   color: white;
   padding-top: 50px;
   text-align: center;
   padding: 20px 15px;
   align-items: center;
   background-color: #1f2937;
   justify-content: space-between;
}