/* †††††††††††††††††††††††††††††††††††††††††
   1. RESET & BASE
   ††††††††††††††††††††††††††††††††††††††††† */

body{
   /*margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column; */
    display: flex;
    margin-top: -5px;
    align-content: center;
    flex-direction: column;
    justify-content: space-between;
}    

   /* †††††††††††††††††††††††††††††††††††††††††
   2. HEADER SECTION
   ††††††††††††††††††††††††††††††††††††††††† */

header{
    display: flex;
}

h1{
    color: white;
    font-size: 50px;
    font-weight: bold;
}

nav{
    width: 100%;
    display: flex;
    padding: 20px 15px;
    align-items: center;
    padding-bottom: 50px;
    background-color: #1f2937;
    justify-content: space-between;
}

ul{
    color: white;
}

   /* †††††††††††††††††††††††††††††††††††††††††
   3. MAIN SECTION
   ††††††††††††††††††††††††††††††††††††††††† */

    div .title{
        color: black;
        text-align: center;
    }

    h2{
        text-align: center;
        justify-content: space-between;
    }

    .container{
        border-radius: 6px;
        background-color: white;
        border: 5px solid #3882F6;
    }


    /* †††††††††††††††††††††††††††††††††††††††††
   4. QUOTE SECTION
   ††††††††††††††††††††††††††††††††††††††††† */

   .quoter{
    font-size: 10px;
    background-color: #E5E7EB;
   }

    /* †††††††††††††††††††††††††††††††††††††††††
   5. FOOTER SECTION
   ††††††††††††††††††††††††††††††††††††††††† */

   footer{
    width: 100%;
    display: flex;
    color: white;
    padding-top: 50px;
    text-align: center;
    padding: 20px 15px;
    align-items: center;
    background-color: #1f2937;
    justify-content: space-between;
}