.title h1{
    text-align: center;
    color: whitesmoke;
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container{
    width: 30%;
    margin: 20px;
    height: 110%;
    background-color: black;
}

ul{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul .img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

ul p {
    color: white;
    text-align: center;
}

.right{
    float: right;
    text-align: center;
}