/* †††††††††††††††††††††††††††††††††††††††††
   1. RESET & BASE
   ††††††††††††††††††††††††††††††††††††††††† */

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: Poppins, sans-serif;
}



/* †††††††††††††††††††††††††††††††††††††††††
   2. HEADER & HERO SECTION
   ††††††††††††††††††††††††††††††††††††††††† */

header{
   display: flex;
}

div h1{
   color: white;
   font-size: 50px;
   font-weight: bold;
}

nav{
   width: 100%;
   display: flex;
   padding: 20px -15px;
   align-items: center;
   padding-bottom: 50px;
   background-color: #1f2937;
   justify-content: space-between;
}

.navbar {
   width: 100%;
   display: flex;                 
   justify-content: space-between;
   align-items: center;           
   padding: 20px -20px;            
   background-color: #1F2937;    
}

.nav-links {
   list-style: none;     
   display: flex;        
   gap: 20px;           
   margin: 0;            
   padding: 0;           
}

.nav-links a {
  text-decoration: none; 
  color: white;          
  font-weight: bold;
}


ul{
   color: white;
}

ul p{
   gap: 14px;
   display: inline-block;
}

.logo{
   color: white;
   font-size: 30px;
   font-weight: bold;
   margin-left: 215px;
}

.hero-content{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 80px;
   padding: 80px 0;
   background-color: #1F2937;
}

.hero-text{
   text-align: justify;
   color: white;
}

.hero-text h3{
   font-weight: bold;
   font-size: 40px;
}

.hero-image{
   width: 400px;
   display: block;
   border-radius: 8px;
}

button{
   width: 160px;
   height: 40px;
   border-radius: 10px;
   background-color: #3882F6;
   color: white;
   cursor: pointer;
}
/* †††††††††††††††††††††††††††††††††††††††††
   3. MAIN SECTION
   ††††††††††††††††††††††††††††††††††††††††† */

div .title{
   color: black;
   text-align: center;
   justify-content: space-between;
}

.project-card{
   width: 150px;
   height: 150px;
   padding: 20px;
   border: 3px solid #3882F6;
   border-radius: 10px;
   background-color: whitesmoke;
   color: black;
   text-align: left;
}

.margem{
   gap: 25px;
   display: flex;
   margin-bottom: 20px;
   justify-content: center;
}

.recipes{
   text-align: center;
   align-items: center;
   padding-top: 5px;
   padding-bottom: 10px;
}

/* †††††††††††††††††††††††††††††††††††††††††
   4. QUOTE SECTION
   ††††††††††††††††††††††††††††††††††††††††† */

.section{
   width: 100%;
   height: 20vh;
   display: flex;
   align-self: center;
   justify-content: center;
}

.quoter h2{
   padding-top: 15px;
   font-style: italic;
   display: flex;
   margin-left: 10px;
   margin-right: 10px;
   text-align: center;
   justify-content: center;
}

.quoter{

   font-size: 10px;
   background-color: #E5E7EB;
}

/* †††††††††††††††††††††††††††††††††††††††††
   5. CTA SECTION
   ††††††††††††††††††††††††††††††††††††††††† */

.cta-section{
   background-color: #3882F6;
   width: 45%;
   border-radius: 10px;
   padding: 30px 80px;
   display: flex;
   justify-content: space-between;
   align-self: center;
}

.cta-section p{
   font-size: 15px;
   padding: 50px 20px;
}

.cta-button{
   display: flex;
   align-items: center;
   width: 160px;
   height: 40px;
   border-radius: 10px;
   background-color: #3882F6;
   color: white;
   justify-content: center;
   margin-top: 40px;
   border-color: white;
}
/* †††††††††††††††††††††††††††††††††††††††††
   6. FOOTER SECTION
   ††††††††††††††††††††††††††††††††††††††††† */

footer{
   text-align: center;
   width: 100%;
   display: flex;
   color: white;
   padding-top: 50px;
   padding: 20px 15px;
   background-color: #1f2937 ;
}