/* †††††††††††††††††††††††††††††††††††††††††
   1. RESET & BASE
   ††††††††††††††††††††††††††††††††††††††††† */

body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

   /* †††††††††††††††††††††††††††††††††††††††††
   2. HEADER SECTION
   ††††††††††††††††††††††††††††††††††††††††† */

header{
    display: flex;
}

h1{
    color: white;
    font-size: 50px;
    font-weight: bold;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    padding: 20px 15px;
    background-color: #1f2937;
    justify-content: space-between;
}

ul{
    color: white;
}

   /* †††††††††††††††††††††††††††††††††††††††††
   3. MAIN SECTION
   ††††††††††††††††††††††††††††††††††††††††† */

    div .title{
        color: black;
        text-align: center;
    }

    h2{
        text-align: center;
        justify-content: space-between;
    }

    /* †††††††††††††††††††††††††††††††††††††††††
   4. FOOTER SECTION
   ††††††††††††††††††††††††††††††††††††††††† */

   footer{
    width: 100%;
    display: flex;
    color: white;
    padding-top: 50px;
    text-align: center;
    padding: 20px 15px;
    align-items: center;
    background-color: #1f2937;
    justify-content: space-between;
}