.title h1{
    text-align: center;
    color: whitesmoke;
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container{
    background-color: whitesmoke;
}

ul{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul .img{
    width: 220px;
    height: 220px;
    border-radius: 6px;
}